@media (max-width:450px) {
      .barra-footer {
            display: grid;
            justify-content: center;
            align-content: center;
            grid-template-columns: 1fr;
            gap: 15px;
            background-color: #0c132159;
            height: 350px;
      }
      .menu-footer{
            padding: 10px;
      }
}


.boton-wp {
      background-color: transparent;
      border: 2px solid var(--color-contraste);
      border-radius: 50%;
      text-decoration: none;
      color: white;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      transition: background-color 0.5s ease-in-out;
}

.boton-wp:hover {
      background-color: rgb(51, 68, 62);
}

.boton-wp .iconos {
      font-size: 20px;
      padding: 0;
      color: var(--color-contraste);
}

.caja-1 a span{
      padding-left: 11px;
}

.menu-footer {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      text-decoration: none;
      margin: 0;
      align-content: center;
}
.barra-footer {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      background-color: #0c132159;
      height: 350px;
}

.caja-1 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-height: 250px;
      padding: 10px;
}

.titulo-footer {
      height: 25px;
      font-size: var(--h3-tamaño);
}
