<footer
  class="barra-footer d-flex flex-column-reverse justify-content-center"
>
    <div class="container d-flex flex-column-reverse justify-content-center flex-sm-row flex-md-row">
        <ul class="menu-footer p-4">
            <a class="navbar-brand" href="#"
              ><img src="assets/img/nicoweb.png" alt="" width="100"
            /></a>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <section class="caja-1 d-flex justify-content-center p-4">
            <h5>¿Querés pedir un presupuesto?</h5>
            <h6>Contactame:</h6>
            <article class="d-flex gap-3">
              <a
                class="boton-wp"
                href="https://api.whatsapp.com/send?phone=541122613168&text=%F0%9F%99%82Hola%2C%20me%20interesa%20pedirte%20un%20presupuesto."
              >
                <span><i class="bi bi-whatsapp iconos"></i></span>
              </a>
              <a class="boton-wp" href="https://www.instagram.com/nicoweb.ok/">
                <span><i class="bi bi-instagram iconos"></i></span>
              </a>
            </article>
          </section>
    </div>
</footer>
