.boton-wp {
      background-color: transparent;
      border: 2px solid var(--color-contraste);
      opacity: 0.8;
      border-radius: 50%;
      text-decoration: none;
      color: white;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      transition: background-color 0.5s ease-in-out;
}

.boton-wp:hover {
      background-color: rgb(131, 190, 170);
      transform: scale(1.1) translate(-2%, -1%);
}

.boton-wp .iconos {
      font-size: 20px;
      padding: 0;
      color: var(--color-contraste);
}

.caja-1 a span{
      padding-left: 11px;
}

.menu-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      text-decoration: none;
      margin: 0;
      align-content: center;
}
.barra-footer {
      gap: 15px;
      background-color: #0c132159;
      min-height: 50vh;
}

.caja-1 {
      flex-direction: column;
      gap: 15px;
}

.titulo-footer {
      height: 25px;
      font-size: var(--h3-tamaño);
}

@media (max-width:450px) {
      .barra-footer {
            gap: 15px;
            background-color: #0c132159;
            min-height: 50vh;
      }
}