<footer class="barra-footer">
      <ul class="menu-footer">
          <h3 class="titulo-footer">NicoDev</h3>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      <section class="caja-1">
          <p>Queres pedir un presupuesto contactame:</p>
          <a class="boton-wp" href="https://api.whatsapp.com/send?phone=541122613168&text=%F0%9F%99%82Hola%2C%20me%20interesa%20pedirte%20un%20presupuesto.">
              <span><i class="bi bi-whatsapp iconos"></i></span>
          </a>
      </section>
</footer>