li {
      display: flex;
      flex-direction: column;
      height: 100%;
}

h3{
      max-width: 500px;
}

a {
      text-decoration: none;
      color: white;
}


.contenedor-proyectos {
      padding: 2px 0;
      height: 76vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 15px;
}

.contenedor-proyectos::-webkit-scrollbar {
      display: none;
}

.caja-tarjeta {
      border-radius: 5px;
      background-position: center center;
      background-size: cover;
}

.tarjeta-de-proyecto {
      width: inherit;
      height: 238px;
      padding: 15px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      background: linear-gradient(0deg, rgb(0 0 0 / 53%) 0%, rgb(0 0 0 / 49%) 51%, rgb(0 0 0 / 67%) 100%);
}

.tarjeta-pie {
      display: flex;
}

.boton-tarjeta {
      width: 100px;
      background-color: #ff7f5000;
      border: none;
}


.descripcion-tarjeta {
      margin-bottom: 0;
}

.cabeza-tarjeta {

      grid-template-columns: 1fr 1fr;
      display: grid;
      gap: 15px;
      padding: 15px;
      align-items: center;

}

.cabeza-tarjeta h2 {
      margin-bottom: 0;
}

.contenedor-iconos {
      text-align: end;
      color: rgb(245, 245, 245);
      text-decoration: none;
}

@media screen and (max-width: 900px) {

      .contenedor-proyectos {
            height: 89vh;
      }

}