.card-header{
      background-position: center center;
      background-size: cover;
      background-color: rgb(1, 4, 12); 
      display: flex;
      justify-content: flex-start;
}
.card-header img{
      position: relative;
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 1px solid;
      margin-bottom: -140px; background-color: var(--bs-green)!important;
}

.card-body{
      display: flex;
      flex-direction: column;
      gap: 70px;
      text-align: start;
      margin-top: 42px;
}
ul{
      list-style: none;
      margin: 0;
      padding: 0;
}

.modal-content{
      text-align:start ;
}

.modal-footer{
      flex-wrap: nowrap;
}

.step-1{
      display: flex;
      gap: 10px;
}

.step-1 .id-perfil{
      width:20%;
}

.step-2{
      display: flex;
      gap: 10px;
}
.step-3{
      display: flex;
      gap: 10px;
}

h2{
      background-color: #a9b3c408;
      padding: 10px 0;
      border-radius: 3px;
}

p{
      font-weight: 400;
}
h3{
      font-size: 18px;
}
h1{
     font-size: calc(1.5rem + .9vw);
}