.titulo-exp{
      font-size: 14px;
}

p{
      font-size: 12px;
      font-weight: 400;
}

.textos {
      min-height: 435px;
      max-height: 435px;
      overflow-x: hidden;
      overflow-y: auto;
}

.textos::-webkit-scrollbar {
      display: block;
      opacity: 0.5;
}

.textos::-webkit-scrollbar {
      width: 2px;
      /* Ancho de la barra de desplazamiento */
}

.textos::-webkit-scrollbar-track {
      background-color: rgba(67, 75, 107, 1) 40%;
      /* Color de fondo de la pista de desplazamiento */
}

.textos::-webkit-scrollbar-thumb {
      background-color: #7793cf;
      /* Color del pulgar de la barra de desplazamiento */
}

.textos::-webkit-scrollbar-thumb:hover {
      background-color: #555;
      /* Color del pulgar de la barra de desplazamiento en estado de hover */
}