.caja-1 {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 25px;
      flex-wrap: wrap;
}

.titulo-footer {
      height: 25px;
}

.card-contenedor {
      border: none;
      background: transparent;
      height: inherit;
}

.espacio {
      height: 100px;
}

.barra-nav, .menu-footer{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      text-decoration: none;
      padding: 25px;
      margin: 0;
      align-content: center;
}


.barra-footer {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 25px;
      width: 95%;
      margin: auto;
      max-width: 1200px;
      background-color: #0c132159;
      height: 350px;
}

app-login {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
}

.boton-wp{
      border: 1px solid white;
      border-radius: 14px;
      margin: 10px 0px;
      padding: 8px 14px;
      text-decoration: none;
      color: white;
}

.menu-footer li{
      margin-top: 20px;
      width: 200px;
} 

.contenedor-edu::-webkit-scrollbar {
            display: block;
            opacity: 0.5;
}

.contenedor-edu::-webkit-scrollbar {
      width: 2px; /* Ancho de la barra de desplazamiento */
    }
    
    .contenedor-edu::-webkit-scrollbar-track {
      background-color: rgba(67, 75, 107, 1) 40%; /* Color de fondo de la pista de desplazamiento */
    }
    
    .contenedor-edu::-webkit-scrollbar-thumb {
      background-color: #7793cf; /* Color del pulgar de la barra de desplazamiento */
    }
    
    .contenedor-edu::-webkit-scrollbar-thumb:hover {
      background-color: #555; /* Color del pulgar de la barra de desplazamiento en estado de hover */
    }