<nav class="barra-nav">
    <app-nav style="display: flex; flex-direction: row;"></app-nav>
</nav>
<div class="contenedor">
    <div class="contenedor-encabezado">
        <div class="card" style="width: inherit;
        max-height: 615px;
        box-shadow: 20px 4px 45px -14px rgb(7, 7, 7);
        border: none;">
            <app-encabezado></app-encabezado>
        </div>
    </div>
    <div class="card-contenedor">
        <app-proyectos class="" style="height: inherit;
        display: block;"></app-proyectos>
    </div>
</div>
<div class="espacio"></div>
<div class="educacion">
    <div class="" style=" background-color: #1b202d5c; height: fit-content; border-radius: 10px;
        min-height: 533px;
        max-height: 533px;
        box-shadow: inset 0px -30px 35px -10px rgba(0, 0, 0, 9.5)"><!--/* background-image: url(./img/1.jpg); */-->
        <app-skills></app-skills>
    </div>
    <div class="" style=" background-color: #1b202d5c; height: fit-content; border-radius: 10px;min-height: 533px; max-height: 533px;
    box-shadow: inset 0px -30px 35px -10px rgba(0, 0, 0, 9.5)"><!--/* background-image: url(./img/4.jpg); */-->
        <app-educacion></app-educacion>
    </div>
    <div class="" style=" background-color: #1b202d5c; height: fit-content; border-radius: 10px;min-height: 533px; max-height: 533px;
    box-shadow: inset 0px -30px 35px -10px rgba(0, 0, 0, 9.5)"><!--/* background-image: url(./img/5.jpg); */-->
        <app-experiencia></app-experiencia>
    </div>
</div>
<div class="espacio"></div>
<div class="tateti"><iframe src="https://tatetinico.netlify.app/" width="100%" height="650px"></iframe></div>
<footer class="barra-footer">
    <div class="caja-1">
        <h3 class="titulo-footer">NicoDev</h3>
    </div>
    <ul class="menu-footer" style="padding: 0; gap: 12px;">
        <li>
        <p style="width: 100%; padding-bottom: 12px;">Queres pedir un presupuesto contactame:</p>
        <a class="boton-wp" href="https://api.whatsapp.com/send?phone=541122613168&text=%F0%9F%99%82Hola%2C%20me%20interesa%20pedirte%20un%20presupuesto.">WhatsApp <i class="bi bi-whatsapp" style="color:white "></i></a></li>
        <li></li>
        <li></li>
    </ul>
</footer>