.titulo-skills {
      font-size: smaller;
}

.content-titulo-barra {
      display: flex;
      flex-direction: column;
      padding: 10px 0px 10px 10px;
      width: 92%;
}

.textos {
      min-height: 435px;
      max-height: 435px;
      overflow-x: hidden;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
}

.textos::-webkit-scrollbar {
      display: block;
      opacity: 0.5;
}

.textos::-webkit-scrollbar {
      width: 2px;
      /* Ancho de la barra de desplazamiento */
}

.textos::-webkit-scrollbar-track {
      background-color: rgba(67, 75, 107, 1) 40%;
      /* Color de fondo de la pista de desplazamiento */
}

.textos::-webkit-scrollbar-thumb {
      background-color: #7793cf;
      /* Color del pulgar de la barra de desplazamiento */
}

.textos::-webkit-scrollbar-thumb:hover {
      background-color: #555;
      /* Color del pulgar de la barra de desplazamiento en estado de hover */
}