<div class="card" id="iniciar">
  <form class="card-body" [formGroup]="formLogin" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" formControlName="email"
        aria-describedby="emailHelp" placeholder="email@email.com">
      <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" formControlName="password"
        placeholder="c0nTr@S3ñ4">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">No soy una maquina</label>
    </div>
    <button type="submit" [disabled]="formLogin.invalid" class="btn btn-primary">Iniciar sesión</button>
  </form>
</div>